* {
    font-family: Arial, Helvetica, sans-serif;
}
.grid {
    margin-top: 10px;
}
h1 {
    text-align: center;
}
.grid > div {
    display: grid;
    grid-auto-flow: column;
    gap: px;
    justify-content: center;
    align-content: center;
    /* margin-bottom: 4px; */
    /* margin-top: 4px; */
}

.last {
    /* border-bottom: 2px solid black; */
    padding-bottom: 4px;
}
.last:last-child {
    border: none;
}